In [2]:
# Import de librerias de 
import pandas as pd

In [24]:
# Cargar dataframe de ventas
path = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/example_ventas.xlsx"
df_ventas = pd.read_excel(path )

In [25]:
# Ejerccio 1: Mostrar las primeras filas
print(f"Ejerccio 1: Mostrar las primeras filas" )
df_ventas.head(5)

Ejerccio 1: Mostrar las primeras filas

       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [32]:
# Ejerccio 2: Calcular el total de ventas por región
print(f"Ejerccio 2: Calcular el total de ventas por región" )
ventas_por_region = df_ventas.groupby("Region")["Ventas"].sum()
print(f"Ventas por región: \n",ventas_por_region)
print(f"Total Ventas: \n", df_ventas)

Ejerccio 2: Calcular el total de ventas por región
Ventas por región:
 Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64
Total Ventas:
         Fecha   Region      Producto Vendedor  Ventas
0  2024-01-31  Central    Accesorios    David    8287
1  2024-02-01  Central    Accesorios    Karen    6909
2  2024-02-02  Central  Dispositivos    David   11420
3  2024-02-03  Central  Dispositivos    Karen   12948
4  2024-02-04  Central      Sistemas    David   20098
5  2024-02-05  Central      Sistemas    Karen   30633
6  2024-02-06     Este    Accesorios      Ana    9323
7  2024-02-07     Este    Accesorios    Lucas    7667
8  2024-02-08     Este  Dispositivos      Ana   10348
9  2024-02-09     Este  Dispositivos    Lucas    9312
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
12 2024-02-12    Oeste    Accesorios    Kevin    4744
13 2024-02-13    Oeste    Accesorios     Sara    5442
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
15 2024-02-15    Oeste  Dispositivos     Sara    8780
16 2024-02-16    Oeste      Sistemas    Kevin   32855
17 2024-02-17    Oeste      Sistemas     Sara   23151

In [33]:
# Ejercicio 3 Filtrar el Dataframe para mostrar solo las ventas realizadas por David
print("Ejercicio 3 Filtrar el Dataframe para mostrar solo las ventas realizadas por David")
ventas_david = df_ventas[df_ventas["Vendedor"]=="David"]
print(f"Ventas de David: \n",ventas_david)

Ejercicio 3 Filtrar el Dataframe para mostrar solo las ventas realizadas por David
Ventas de David:
        Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
2 2024-02-02  Central  Dispositivos    David   11420
4 2024-02-04  Central      Sistemas    David   20098

In [34]:
# Ejercicio 4: Calcular el promedio de ventas por región
ventas_por_producto = df_ventas.groupby("Region")["Ventas"].mean()
print(f"Promedio ventas por region: \n",ventas_por_producto)

Promedio ventas por region:
 Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [36]:
# Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
ventas_por_producto = df_ventas.groupby("Region")["Ventas"].mean().round(2)
print(f"Promedio ventas por region: \n",ventas_por_producto)

Promedio ventas por region:
 Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [35]:
# Ejercicio 6: Ordenar el Dataframe por ventas en orden descendentes
print("Ejercicio 5: Ordenar el Dataframe por ventas en orden descendentes")
ventas_ordenado = df_ventas.sort_values(by="Ventas",ascending=False)
print(f"Datafrem ordenado descendiente por ventas: \n",ventas_ordenado)

Ejercicio 5: Ordenar el Dataframe por ventas en orden descendentes
Datafrem ordenado descendiente por ventas:
         Fecha   Region      Producto Vendedor  Ventas
16 2024-02-16    Oeste      Sistemas    Kevin   32855
5  2024-02-05  Central      Sistemas    Karen   30633
17 2024-02-17    Oeste      Sistemas     Sara   23151
4  2024-02-04  Central      Sistemas    David   20098
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
3  2024-02-03  Central  Dispositivos    Karen   12948
2  2024-02-02  Central  Dispositivos    David   11420
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
8  2024-02-08     Este  Dispositivos      Ana   10348
6  2024-02-06     Este    Accesorios      Ana    9323
9  2024-02-09     Este  Dispositivos    Lucas    9312
15 2024-02-15    Oeste  Dispositivos     Sara    8780
0  2024-01-31  Central    Accesorios    David    8287
7  2024-02-07     Este    Accesorios    Lucas    7667
1  2024-02-01  Central    Accesorios    Karen    6909
13 2024-02-13    Oeste    Accesorios     Sara    5442
12 2024-02-12    Oeste    Accesorios    Kevin    4744

In [37]:
# Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor
print("Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor")
df_filtrado = df_ventas[df_ventas["Ventas"]>10000].sort_values(by="Ventas", ascending=True)
print(f"Ventas mayores a 10000 ascendentes: \n", df_filtrado)

Ejercicio 7: Filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor
Ventas mayores a 10000 ascendentes:
         Fecha   Region      Producto Vendedor  Ventas
8  2024-02-08     Este  Dispositivos      Ana   10348
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
2  2024-02-02  Central  Dispositivos    David   11420
3  2024-02-03  Central  Dispositivos    Karen   12948
11 2024-02-11     Este      Sistemas    Lucas   13374
10 2024-02-10     Este      Sistemas      Ana   13531
4  2024-02-04  Central      Sistemas    David   20098
17 2024-02-17    Oeste      Sistemas     Sara   23151
5  2024-02-05  Central      Sistemas    Karen   30633
16 2024-02-16    Oeste      Sistemas    Kevin   32855

In [38]:
# Ejercicio 8: Eliminar la columna "Vendedor"
print("Ejercicio 8: Eliminar la columna Vendedor")
df_sin_vendedor = df_ventas.drop(columns=["Vendedor"])
print(f"Dataframe sin la columnas vendedor: \n", df_sin_vendedor)

Ejercicio 8: Eliminar la columna Vendedor
Dataframe sin la columnas vendedor:
         Fecha   Region      Producto  Ventas
0  2024-01-31  Central    Accesorios    8287
1  2024-02-01  Central    Accesorios    6909
2  2024-02-02  Central  Dispositivos   11420
3  2024-02-03  Central  Dispositivos   12948
4  2024-02-04  Central      Sistemas   20098
5  2024-02-05  Central      Sistemas   30633
6  2024-02-06     Este    Accesorios    9323
7  2024-02-07     Este    Accesorios    7667
8  2024-02-08     Este  Dispositivos   10348
9  2024-02-09     Este  Dispositivos    9312
10 2024-02-10     Este      Sistemas   13531
11 2024-02-11     Este      Sistemas   13374
12 2024-02-12    Oeste    Accesorios    4744
13 2024-02-13    Oeste    Accesorios    5442
14 2024-02-14    Oeste  Dispositivos   10711
15 2024-02-15    Oeste  Dispositivos    8780
16 2024-02-16    Oeste      Sistemas   32855
17 2024-02-17    Oeste      Sistemas   23151

### Mis preguntas planteadas

In [45]:
# Pregunta 9: ¿Quién es el vendedor con mejor desempeño?
ventas_por_vendedor = df_ventas.groupby('Vendedor')['Ventas'].sum().sort_values(ascending=False)
print("\nPregunta 9: Vendedor con mejor desempeño:")
print(ventas_por_vendedor.head(1))

Pregunta 9: Vendedor con mejor desempeño:
Vendedor
Karen    50490
Name: Ventas, dtype: int64

In [47]:
# Pregunta 10: ¿Cuál es el producto más vendido?
ventas_por_producto = df_ventas.groupby('Producto')['Ventas'].sum().sort_values(ascending=False)
print("\nPregunta 10: Producto más vendido:")
print(ventas_por_producto.head(1))

Pregunta 10: Producto más vendido:
Producto
Sistemas    133642
Name: Ventas, dtype: int64

In [49]:
# Pregunta 11: ¿Quién tiene el promedio más alto de venta por transacción?
promedio_venta_vendedor = df_ventas.groupby('Vendedor')['Ventas'].mean().sort_values(ascending=False)
print("\nPregunta 11: Promedio más alto de venta por transacción por vendedor:")
print(promedio_venta_vendedor)

Pregunta 11: Promedio más alto de venta por transacción por vendedor:
Vendedor
Karen    16830.000000
Kevin    16103.333333
David    13268.333333
Sara     12457.666667
Ana      11067.333333
Lucas    10117.666667
Name: Ventas, dtype: float64

In [51]:
# Pregunta 12: ¿Cuál es el porcentaje de ventas por categoría de producto?
total_ventas = df_ventas['Ventas'].sum()
porcentaje_ventas = (df_ventas.groupby('Producto')['Ventas'].sum() / total_ventas * 100).sort_values(ascending=False)
print("\nPregunta 12: Porcentaje de ventas por categoría de producto:")
print(porcentaje_ventas)

Pregunta 12: Porcentaje de ventas por categoría de producto:
Producto
Sistemas        55.792730
Dispositivos    26.517849
Accesorios      17.689421
Name: Ventas, dtype: float64

1: ¿Cuáles son las ventas totales por región?
2: ¿Quién es el vendedor con mejor desempeño?
3: ¿Cuál es el producto más vendido?
4: ¿Cuál es la tendencia de ventas diaria?
5: ¿Cuál es el monto de venta promedio?
6: ¿Cuál es la distribución de ventas por categoría de producto?
7: ¿Quién tiene el promedio de venta por transacción más alto?
8: ¿Cuál es el desempeño de ventas por día de la semana?
9: ¿Cuál es el porcentaje de ventas por categoría de producto?
10: ¿Cuáles son las ventas acumuladas a lo largo del tiempo?