In [1]:
# Import de librerias de 
import pandas as pd

In [28]:
# Cargar dataframe de ventas
ventas = pd.read_excel("data/example_ventas.xlsx")
print(f"Dimensión del dataframe:" ,ventas.shape)
ventas.head()

Dimensión del dataframe: (18, 5)

       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [13]:
# Total ventas
total_sales = ventas['Ventas'].sum()
print(f"1. Total ventas: {total_sales}")

1. Total ventas: 239533

In [22]:
# Formato ventas
ventas['Ventas'] = ventas['Ventas'].apply(lambda x: f"${x:,.0f}")
ventas

        Fecha   Region      Producto Vendedor   Ventas
0  2024-01-31  Central    Accesorios    David   $8,287
1  2024-02-01  Central    Accesorios    Karen   $6,909
2  2024-02-02  Central  Dispositivos    David  $11,420
3  2024-02-03  Central  Dispositivos    Karen  $12,948
4  2024-02-04  Central      Sistemas    David  $20,098
5  2024-02-05  Central      Sistemas    Karen  $30,633
6  2024-02-06     Este    Accesorios      Ana   $9,323
7  2024-02-07     Este    Accesorios    Lucas   $7,667
8  2024-02-08     Este  Dispositivos      Ana  $10,348
9  2024-02-09     Este  Dispositivos    Lucas   $9,312
10 2024-02-10     Este      Sistemas      Ana  $13,531
11 2024-02-11     Este      Sistemas    Lucas  $13,374
12 2024-02-12    Oeste    Accesorios    Kevin   $4,744
13 2024-02-13    Oeste    Accesorios     Sara   $5,442
14 2024-02-14    Oeste  Dispositivos    Kevin  $10,711
15 2024-02-15    Oeste  Dispositivos     Sara   $8,780
16 2024-02-16    Oeste      Sistemas    Kevin  $32,855
17 2024-02-17    Oeste      Sistemas     Sara  $23,151

1: ¿Cuáles son las ventas totales por región?
2: ¿Quién es el vendedor con mejor desempeño?
3: ¿Cuál es el producto más vendido?
4: ¿Cuál es la tendencia de ventas diaria?
5: ¿Cuál es el monto de venta promedio?
6: ¿Cuál es la distribución de ventas por categoría de producto?
7: ¿Quién tiene el promedio de venta por transacción más alto?
8: ¿Cuál es el desempeño de ventas por día de la semana?
9: ¿Cuál es el porcentaje de ventas por categoría de producto?
10: ¿Cuáles son las ventas acumuladas a lo largo del tiempo?

In [26]:
pip list

Package                   Version
------------------------- ------------
asttokens                 2.2.1
attrs                     23.1.0
backcall                  0.2.0
cloudpickle               2.2.1
colorama                  0.4.6
comm                      0.1.4
contourpy                 1.1.1
cycler                    0.12.0
debugpy                   1.6.7.post1
decorator                 5.1.1
DIL                       0.0.3
dill                      0.3.7
distlib                   0.3.7
et-xmlfile                1.1.0
executing                 1.2.0
fastjsonschema            2.18.0
filelock                  3.12.4
findspark                 2.0.1
fonttools                 4.43.0
ipykernel                 6.25.1
ipython                   8.15.0
jedi                      0.19.0
joblib                    1.3.2
jsonschema                4.19.1
jsonschema-specifications 2023.7.1
jupyter_client            8.3.1
jupyter_core              5.3.1
kiwisolver                1.4.5
matplotlib                3.8.0
matplotlib-inline         0.1.6
nbformat                  5.9.2
nest-asyncio              1.5.7
numpy                     1.26.0
openpyxl                  3.1.2
packaging                 23.1
pandas                    2.1.1
parso                     0.8.3
pickleshare               0.7.5
Pillow                    9.5.0
pip                       23.2.1
platformdirs              3.10.0
plotly                    5.17.0
prompt-toolkit            3.0.39
psutil                    5.9.5
pure-eval                 0.2.2
py4j                      0.10.9.7
pydeequ                   1.1.1
Pygments                  2.16.1
pyparsing                 3.1.1
pyspark                   3.5.0
python-dateutil           2.8.2
pytz                      2023.3.post1
pywin32                   306
pyzmq                     25.1.1
referencing               0.30.2
rpds-py                   0.10.3
scikit-learn              1.3.1
scipy                     1.11.3
seaborn                   0.13.0
setuptools                65.5.0
six                       1.16.0
stack-data                0.6.2
tenacity                  8.2.3
threadpoolctl             3.2.0
tornado                   6.3.3
traitlets                 5.9.0
tzdata                    2023.3
virtualenv                20.24.5
wcwidth                   0.2.6
wordcloud                 1.9.2
XlsxWriter                3.1.7
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip