In [32]:
# Importar librerías
import pandas as pd
import os

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#### Database url: httpsarchive.ics.uci.edu

## Venta minorista en linea
Información del conjunto de datos
información adicional

Se trata de un conjunto de datos transnacional que contiene todas las transacciones que se produjeron entre el 1 de diciembre de 2010 y el 9 de diciembre de 2011 para una empresa minorista en línea sin establecimientos físicos registrada y con sede en el Reino Unido. La empresa vende principalmente regalos exclusivos para cualquier ocasión.

In [ ]:
# Lectura
ruta = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/proyecto/"
Online_Retail = pd.read_excel(ruta + "httpsarchiveicsuciedu/Venta_minorista_en_linea/OnlineRetail.xlsx") 
print(Online_Retail.shape)
print(Online_Retail.info())
Online_Retail.head(3)

## Venta minorista en linea II
Información del conjunto de datos
información adicional

Este conjunto de datos de venta minorista en línea II contiene todas las transacciones que se produjeron en una empresa minorista en línea sin establecimientos físicos registrada y con sede en el Reino Unido entre el 1 de diciembre de 2009 y el 9 de diciembre de 2011. La empresa vende principalmente artículos de regalo exclusivos para cualquier ocasión.

In [ ]:
# Lectura
ruta = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/proyecto/"
Online_Retail2 = pd.read_excel(ruta + "httpsarchiveicsuciedu/Venta_minorista_en_lineaII/online_retail_II.xlsx") 
print(Online_Retail2.shape)
print(Online_Retail2.info())
Online_Retail2.head(3)

## Automóvil
Información del conjunto de datos
información adicional

Este conjunto de datos consta de tres tipos de entidades: (a) la especificación de un automóvil en términos de diversas características, (b) su clasificación de riesgo de seguro asignada, (c) sus pérdidas normalizadas en uso en comparación con otros automóviles. La segunda clasificación corresponde al grado en que el automóvil es más riesgoso de lo que indica su precio. A los automóviles se les asigna inicialmente un símbolo de factor de riesgo asociado con su precio. Luego, si es más riesgoso (o menos), este símbolo se ajusta moviéndolo hacia arriba (o hacia abajo) en la escala. Los actuarios llaman a este proceso "simbolización". Un valor de +3 indica que el automóvil es riesgoso, -3 que probablemente sea bastante seguro. El tercer factor es el pago de pérdidas promedio relativo por año de vehículo asegurado. Este valor está normalizado para todos los automóviles dentro de una clasificación de tamaño particular (pequeños de dos puertas, familiares, deportivos/especiales, etc.) y representa la pérdida promedio por automóvil por año. Nota: Varios de los atributos de la base de datos podrían usarse como un atributo de "clase".

In [ ]:
def cargar_imports_85(ruta_data, ruta_names):
    df = pd.read_csv(ruta_data, header=None)

    nombres_columnas = []
    with open(ruta_names, 'r') as file:
        capturar_nombres = False
        for line in file:
            if line.startswith('7. Attribute Information:'):
                capturar_nombres = True
                continue
            if capturar_nombres and line.strip().startswith(str(len(nombres_columnas) + 1) + '.'):
                nombre = line.split(':')[0].split('.')[1].strip()
                nombres_columnas.append(nombre)
            if len(nombres_columnas) == 26:  # Hay 26 atributos en total
                break
    
    df.columns = nombres_columnas
    df = df.replace('?', pd.NA)
    columnas_numericas = ['normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 
                          'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 
                          'city-mpg', 'highway-mpg', 'price']
    for col in columnas_numericas:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    return df

# Especifica la ruta de los archivos
ruta_base = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/proyecto/httpsarchiveicsuciedu/Automovil/"  # Reemplaza esto con la ruta real donde están tus archivos
ruta_data = os.path.join(ruta_base, "imports-85.data")
ruta_names = os.path.join(ruta_base, "imports-85.names")

# Cargar los datos
car = cargar_imports_85(ruta_data, ruta_names)

print(car.shape)
print(car.info())
car.head(3)

Database url: httpscatalog.data.gov

## Venta de licores en Iowa

Este conjunto de datos contiene información sobre las compras de bebidas alcohólicas de los licenciatarios de bebidas alcohólicas de clase “E” de Iowa por producto y fecha de compra desde el 1 de enero de 2012 hasta la actualidad. El conjunto de datos se puede utilizar para analizar las ventas totales de bebidas alcohólicas en Iowa de productos individuales a nivel de tienda.

La licencia de licor clase E, para tiendas de comestibles, licorerías, tiendas de conveniencia, etc., permite a los establecimientos comerciales vender licor para consumo fuera del local en envases originales sin abrir.

In [2]:
# Lectura
import pandas as pd
ruta = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/proyecto/"
Iowa_Liquor = pd.read_csv(ruta + "httpscatalog.data.gov/Venta de licores en Iowa/Iowa_Liquor_Sales.csv") 
print(Iowa_Liquor.shape)
Iowa_Liquor.info()

C:\Users\delahozce\AppData\Local\Temp\ipykernel_16212\2421756863.py:4: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  Iowa_Liquor = pd.read_csv(ruta + "httpscatalog.data.gov/Venta de licores en Iowa/Iowa_Liquor_Sales.csv")

(30082002, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30082002 entries, 0 to 30082001
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               object
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            object
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      float64
 19  State Bottle Retail    float64
 20  Bottles Sold           int64
 21  Sale (Dollars)         float64
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(8), int64(4), object(12)
memory usage: 5.4+ GB

In [ ]:
Iowa_Liquor.head(3)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

null_counts = Iowa_Liquor.isnull().sum()
null_percentages = 100 * Iowa_Liquor.isnull().sum() / len(Iowa_Liquor)

null_table = pd.concat([null_counts, null_percentages], axis=1, keys=['Número de nulos', 'Porcentaje de nulos'])
null_table = null_table.sort_values('Número de nulos', ascending=False)

print(null_table)

plt.figure(figsize=(12, 6))
null_table['Porcentaje de nulos'].plot(kind='bar')
plt.title('Porcentaje de valores nulos por columna')
plt.xlabel('Columnas')
plt.ylabel('Porcentaje de valores nulos')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

In [4]:
Iowa_Liquor.groupby("City").count()

,Invoice/Item Number,Date,Store Number,Store Name,Address,Zip Code,Store Location,County Number,County,Category,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
City,,,,,,,,,,,,,,,,,,,,,
ACKLEY,8419,8419,8419,8419,8419,8419,8419,6926,8127,8419,...,8419,8419,8419,8419,8419,8419,8419,8419,8419,8419
ADAIR,8798,8798,8798,8798,8798,8798,7578,6093,8798,8798,...,8798,8798,8798,8798,8798,8798,8798,8798,8798,8798
ADEL,48444,48444,48444,48444,48444,48444,47936,35100,48444,48424,...,48444,48444,48444,48444,48444,48444,48444,48444,48444,48444
AFTON,4047,4047,4047,4047,4047,4047,4047,2888,4047,4047,...,4047,4047,4047,4047,4047,4047,4047,4047,4047,4047
AINSWORTH,870,870,870,870,870,870,870,68,870,870,...,870,870,870,870,870,870,870,870,870,870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WINTHROP,9370,9370,9370,9370,9370,9370,5182,7580,9290,9370,...,9370,9370,9370,9370,9370,9370,9370,9370,9370,9370
WOODBINE,21998,21998,21998,21998,21998,21998,16189,15729,21998,21997,...,21998,21998,21998,21998,21998,21998,21998,21998,21998,21998
WOODWARD,5028,5028,5028,5028,5028,5028,4962,4014,5028,5028,...,5028,5028,5028,5028,5028,5028,5028,5028,5028,5028
WYOMING,1874,1874,1874,1874,1874,1874,1874,649,1874,1874,...,1874,1874,1874,1874,1874,1874,1874,1874,1874,1874
ZWINGLE,3908,3908,3908,3908,3908,3908,3908,3050,3908,3908,...,3908,3908,3908,3908,3908,3908,3908,3908,3908,3908

## Ventas de almacén y minoristas
Este conjunto de datos contiene una lista de datos de ventas y movimientos por artículo y departamento que se adjunta mensualmente. Frecuencia de actualización: mensual

In [ ]:
# Lectura
ruta = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/proyecto/"
minorista = pd.read_csv(ruta + "httpscatalog.data.gov/Ventas de almacén y minoristas/Warehouse_and_Retail_Sales.csv") 
print(minorista.shape)
print(minorista.info())
minorista.head(3)

## Ventas de Bienes Raíces 2001-2022 GL

La Oficina de Políticas y Gestión mantiene un listado de todas las ventas de bienes raíces con un precio de venta de $2,000 o más que se realizan entre el 1 de octubre y el 30 de septiembre de cada año. Para cada registro de venta, el archivo incluye: ciudad, dirección de la propiedad, fecha de venta, tipo de propiedad (residencial, apartamento, comercial, industrial o terreno baldío), precio de venta y valoración de la propiedad.

Los datos se recopilan de conformidad con los Estatutos Generales de Connecticut, sección 10-261a y 10-261b: https://www.cga.ct.gov/current/pub/chap_172.htm#sec_10-261a y https://www.cga.ct.gov/current/pub/chap_172.htm#sec_10-261b . Las ventas anuales de bienes raíces se informan por año de lista general (del 1 de octubre al 30 de septiembre de cada año). Por ejemplo, las ventas del GL 2018 son del 1 de octubre de 2018 al 30 de septiembre de 2019.

In [ ]:
# Lectura
ruta = "C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/git_portafolio/Portafolio/data/proyecto/"
raiz = pd.read_csv(ruta + "httpscatalog.data.gov/Ventas de Bienes Raíces 2001-2022 GL/Real_Estate_Sales_2001-2022_GL.csv") 
print(raiz.shape)
print(raiz.info())
raiz.head(3)